@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  width: 100%;
  padding: 0 2rem;
  background-image: linear-gradient(
    to right,
    #46005d,
    #92055e,
    #ef784b,
    #feb84d
  );
  z-index: 999;
}

.logo {
  color: white;
  font-size: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.nav-links li {
  list-style: none;
  margin: 0 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.nav-links li a:hover {
  color: #970197;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  margin: 8px;
  background-color: #46005d;
  width: 25px;
  height: 3px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.carousel {
  position: relative;
}

.landing-page {
  min-height: 100vh;
  width: 100%;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
  color: white;
  position: relative;
}

.container-fluid {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.431);
  width: 100%;
  z-index: 1;
}

#item1 {
  background-image: url(./images/phone-on-desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#item1 .slide-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

#item1 .slide-text h1 {
  font-weight: 700;
  font-size: 40px;
}

#item2 {
  background-image: url(./images/laptop-phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#item2 .slide-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  z-index: 10;
}

#item2 .slide-text h1 {
  width: 70%;
  font-weight: 700;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 998;
}

#item3 {
  background-image: url("https://images.unsplash.com/photo-1469719847081-4757697d117a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#item3 .slide-text {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  z-index: 10;
}

#item3 .slide-text h1 {
  font-weight: 700;
  width: 700px;
}

.what-we-do {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #46005d;
}

.what-we-do h1 {
  top: 0;
  position: absolute;
  text-align: center;
  margin-bottom: 20px;
}

.panel-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  padding: 20px;
  line-height: 1.8;
}

.panels h2 {
  font-size: 20px;
  font-weight: 700;
}

.panels p {
  margin-bottom: 10px;
}

.panels img {
  width: 200px;
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.learn-more a {
  text-align: center;
  width: 150px;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #92055e;
  border: 2px solid #92055e;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.learn-more a:hover {
  color: white;
  box-shadow: 5px 5px 10px -2px black;
  background-image: linear-gradient(to top, #46005d, #92055e);
}

.about-section {
  background-image: linear-gradient(to bottom, white, #ece4ec);
  color: #46005d;
}

.about-section > h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.goals {
  display: flex;
}

.goals img {
  width: 625px;
}

.goals-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

.goals-text li {
  margin: 1.5rem 10px;
}

.values {
  display: flex;
}

.values img {
  width: 600px;
}

.values-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.values-text li {
  margin: 1.5rem;
}

.services-section {
  min-width: 100vh;
  min-width: 100%;
  color: #46005d;
  background: #ece4ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.services-container {
  display: flex;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
}

.service-panel {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #970197;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.service-panel img {
  width: 150px;
  margin: 1.5rem;
}

.service-panel h3 {
  text-align: center;
}

.service-panel p {
  margin-bottom: 1.5rem;
}

.service-panel button {
  border: none;
  font-family: inherit;
  box-shadow: none;
  text-decoration: none;
  border: 2px solid #970197;
  border-radius: 5px;
  padding: 5px;
  color: #970197;
  transition: all 0.2s ease-in;
}

.service-panel button:hover {
  color: white;
  border: 2px solid #970197;
  background-image: linear-gradient(to top, #46005d, #92055e);
}

.contact-page {
  min-height: 100vh;
  width: 100%;
}

.contact-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-page > h1 {
  padding: 1.5rem;
  color: #46005d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  position: relative;
  display: flex;
  width: 90%;
  height: 400px;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 3px gray;
}

.details {
  position: relative;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(
    to top right,
    #46005d,
    #92055e,
    #ef784b,
    #feb84d
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details .details-text {
  list-style: none;
  font-size: 18px;
}

.details-text li {
  margin: 1.5rem 0 0 0;
}

.details .socials {
  display: flex;
  align-items: center;
  list-style: none;
}

.details .socials li {
  margin: 10px;
  font-size: 28px;
  cursor: pointer;
}

.contact-form {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #46005d;
}

.contact-form h3 {
  display: block;
  text-align: center;
  padding: 1.5rem 0;
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  top: 20px;
}

.info-inputs {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 1.5rem;
  height: 200px;
}

.send-btn {
  position: absolute;
  border: none;
  background: none;
  bottom: 50px;
  margin-top: 10px;
  border: 2px solid #92055e;
  font-family: inherit;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to top, #46005d, #92055e);
  transition: all 200ms ease-in;
}

.send-btn:hover {
  background-image: linear-gradient(
    to top right,
    #46005d,
    #92055e,
    #ef784b,
    #feb84d
  );
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    width: 60%;
    position: absolute;
    font-size: 1.5rem;
    right: -10px;
    height: 90vh;
    top: 10vh;
    background: #ef784b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
  }

  .what-we-do {
    min-height: 100vh;
    position: relative;
  }

  .panel-container {
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .panels {
    margin: 1.5rem 0;
  }

  .learn-more {
    margin-top: 0;
    padding-bottom: 1.5rem;
  }

  .panels p {
    width: 400px;
    line-height: 1.8;
    align-items: center;
  }

  .about-section {
    position: relative;
    min-height: 100vh;
  }
  .goals {
    flex-direction: column;
  }

  .goals h2 {
    margin-top: 10px;
  }

  .values {
    flex-direction: column;
  }

  .services-container {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column;
    min-height: 600px;
  }

  .details {
    width: 100%;
  }

  .contact-form {
    min-height: 70%;
    width: 60%;
  }

  .contact-form h3 {
    top: 0;
    padding: 5px 0 0 0;
  }

  .info-inputs {
    height: 200px;
    width: 100%;
  }

  .send-btn {
    position: relative;
    bottom: 20px;
  }
}

.nav-active {
  transform: translateX(0%);
  z-index: 999;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}
